# Node modules
node_modules/
*/node_modules/

# Logs
*.log
npm-debug.log*

# Environment
.env
*/.env

# Build
dist/
*/dist/
build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
